@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Lato";

  font-display: swap;
  src:
    url("../../fonts/Lato/Lato-Regular.woff2") format("woff2");
}

@font-face {
  font-style: bold;
  font-weight: 700;
  font-family: "Lato";

  font-display: swap;
  src:
    url("../../fonts/Lato/Lato-Bold.woff2") format("woff2");
}
